@model IEnumerable<EcommerceMVC.Data.Models.Order>

@{
    ViewData["Title"] = "All orders";
    var statusText = new[] { "Not paid", "Ordered", "Confirmed", "Prepared", "Shipped", "Completed", "Delivered", "Cancelled"
 };
}

<h3 class="card-header">Orders</h3>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered first">
            <thead>
                <tr>
                    @* <th>#</th> *@
                    <th>ID</th>
                    <th>Created time</th>
                    <th>Total amount</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in @Model)
                {
                    <tr>
                        @* <td>@(Model.ToList().IndexOf(order) + 1)</td> *@
                        <td>@order.OrderId</td>
                        <td>@order.CreatedTime</td>
                        <td>@order.TotalAmount</td>
                        <td>@order.FullAddress</td>
                        <td>@statusText[order.Status]</td>
                        <td>
                            <a asp-controller="Order" asp-action="Detail" asp-route-orderId="@order.OrderId"
                                class="btn btn-warning btn-sm">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Created time</th>
                    <th>Total amount</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>