@{
    ViewData["Title"] = "Saved Addresses";
}

<h3>Saved Addresses</h3>
<a class="btn btn-default" asp-controller="SavedAddress" asp-action="AddAddress">New address</a>

<table class="table">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.PhoneNumber</td>
            <td>@($"{item.DetailAddress}, {item.Ward}, {item.District}, {item.City}, {item.Country}")</td>
            <td>
                <a asp-controller="SavedAddress" asp-action="EditAddress" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="SavedAddress" asp-action="DeleteAddress" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>