@model EcommerceMVC.Data.Models.Order

@{
    ViewData["Title"] = "Orders";
    var statusBadges = new Dictionary<int, string>
    {
        { OrderStatus.NOTPAID, "<span class=\"badge badge-brand\">Not paid</span>" },
        { OrderStatus.ORDERED, "<span class=\"badge badge-primary\">Ordered</span>" },
        { OrderStatus.CONFIRMED, "<span class=\"badge badge-info\">Confirmed</span>" },
        { OrderStatus.PREPARED, "<span class=\"badge badge-light\">Prepared</span>" },
        { OrderStatus.SHIPPED, "<span class=\"badge badge-secondary\">Shipped</span>" },
        { OrderStatus.COMPLETED, "<span class=\"badge badge-success\">Completed</span>" },
        { OrderStatus.DELIVERED, "<span class=\"badge badge-info\">Ordered</span>" },
        { OrderStatus.CANCELLED, "<span class=\"badge badge-danger\">Cancelled</span>" },
    };
}

<h3>Order: @Model.OrderId</h3>

<a class="btn btn-danger btn-sm confirmDeletion" asp-area="Admin" asp-controller="Order" asp-action="CancelOrder" asp-route-orderId="@Model.OrderId">Cancel order</a>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Order summary</h5>
        <div class="card-body">
        <table class="table table-bordered">
        <tbody>
            <tr>
                <td><b>Created time</b></td>
                <td>@Model.CreatedTime</td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td><b>Phone Number</b></td>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <td><b>Shipping address</b></td>
                <td>@Model.FullAddress</td>
            </tr>
            <tr>
                <td><b>Notes</b></td>
                <td>@Model.Note</td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td style="flex: auto">@Html.Raw(statusBadges[Model.Status])                
                @{
                    switch (Model.Status)
                    {
                        case OrderStatus.NOTPAID:
                        case OrderStatus.ORDERED:
                            <a class="btn btn-success btn-sm" asp-area="Admin" asp-controller="Order" asp-action="ConfirmOrder" asp-route-orderId="@Model.OrderId">Confirm</a>
                            break;
                        case OrderStatus.CONFIRMED:
                            <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Order" asp-action="PrepareOrder" asp-route-orderId="@Model.OrderId">Prepare</a>
                            break;
                    }
                }
                </td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Order details</h5>
        <div class="card-body">     
            <table class="table table-hover">
                <thead>
                <tr>
                    @* <th scope="col">#</th> *@
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    <tr>
                        @* <th scope="row">1</th> *@
                        <td>@detail.Product.Image</td>
                        <td>@detail.Product.Name</td>
                        <td>@detail.UnitPrice</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.TotalPrice</td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td>@Model.TotalAmount</td>
                </tfoot>
            </table>
        </div>
    </div>
</div>